Lab1_client/src/conf/xml-resources/web-service-references/SinhVienService/wsdl/localhost_8080/Lab1_server/SinhVienService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="SinhVienService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/Lab1_server/SinhVienService?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="addNew">
<part name="parameters" element="tns:addNew"/>
</message>
<message name="addNewResponse">
<part name="parameters" element="tns:addNewResponse"/>
</message>
<message name="findByRollNo">
<part name="parameters" element="tns:findByRollNo"/>
</message>
<message name="findByRollNoResponse">
<part name="parameters" element="tns:findByRollNoResponse"/>
</message>
<portType name="SinhVienService">
<operation name="update">
<input wsam:Action="http://services/SinhVienService/updateRequest" message="tns:update"/>
<output wsam:Action="http://services/SinhVienService/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://services/SinhVienService/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://services/SinhVienService/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://services/SinhVienService/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://services/SinhVienService/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="addNew">
<input wsam:Action="http://services/SinhVienService/addNewRequest" message="tns:addNew"/>
<output wsam:Action="http://services/SinhVienService/addNewResponse" message="tns:addNewResponse"/>
</operation>
<operation name="findByRollNo">
<input wsam:Action="http://services/SinhVienService/findByRollNoRequest" message="tns:findByRollNo"/>
<output wsam:Action="http://services/SinhVienService/findByRollNoResponse" message="tns:findByRollNoResponse"/>
</operation>
</portType>
<binding name="SinhVienServicePortBinding" type="tns:SinhVienService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNew">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByRollNo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SinhVienService">
<port name="SinhVienServicePort" binding="tns:SinhVienServicePortBinding">
<soap:address location="http://localhost:8080/Lab1_server/SinhVienService"/>
</port>
</service>
</definitions>